@page
@model HaiAdmin.Pages.Config.AddModel

@{
    ViewData["Title"] = "Config | Add";
}

<h4>Config</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Config.Type" class="control-label"></label>
                <input asp-for="Config.Type" class="form-control" />
                <span asp-validation-for="Config.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Config.Model" class="control-label"></label>
                <input asp-for="Config.Model" class="form-control" />
                <span asp-validation-for="Config.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Config.Key" class="control-label"></label>
                <input asp-for="Config.Key" class="form-control" />
                <span asp-validation-for="Config.Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary"/> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a asp-page="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
