@page
@model TheaterWeb.IndexModel

@{
    ViewData["Title"] = "Index";
}

@if (Model.DbExists)
{
    <h5>Tables</h5>
    <ul>
        <li><a href="/movie">Movie</a></li>
    </ul>
}
else
{
    <p>Database does not exist</p>
    <form method="post">
        <input type="submit" value="Create" class="btn btn-primary" />
    </form>
}
